html
  head
    meta(charset="utf-8")
    title InfinitelyScrolling
    style.
      #container {visibility: hidden}
  body
    article
      block content
    script(type="text/javascript" src="/bundle.js")
